langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-huggingface
sentence-transformers
transformers
huggingface-hub

langchain-pinecone
pinecone

langchain-groq
groq

pypdf
python-dotenv

fastapi
uvicorn